@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.leap-ui.dark {
  --font-family: 'Space Grotesk', system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  --primary: 197 100% 49%;
  --primary-foreground: 0 0% 100%;
  --ring: 197 100% 49%;
  --radius: 1.5rem;
}

.leap-elements div[data-rk="rainbowkit"] {
  @apply w-full h-full;
}
